# 🔁 Dépendances globales
node_modules/
.pnp
.pnp.js

# 🧪 Tests
coverage/

# 🛠️ Build React
/build
frontend/build/

# 🔒 Fichiers d'environnement
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env.*

# 🧼 Fichiers systèmes / logs
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
*.local

# 📦 Frontend
frontend/node_modules/
frontend/.env

# 🖥️ Backend
backend/node_modules/
backend/.env

